####################################################
# RESTRINGIR ACCESOS A LOS ARCHIVOS DE DIRECTORIOS #
####################################################
Options All -Indexes 


##############################################################
# URL AMIGABLES (En el Hosting Remplazarlo po RewriteBase /) #
##############################################################
<IfModule mod_rewrite.c>
    #RewriteBase /Galeria-Imagenes/
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [NC,L]
</IfModule>